.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #d57ef081;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid #07040a;
}

th {
  background-color: #8e4699;
}

td {
  color: #333;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
